/*
color:
secondary-color         :#0b91e5;
Secondary-dark-color    :#0a4366;
nutral-color            :#a6a411;
primary-color           :#990000;
primary-dark-color      :#4c0808;

*/


/* Adding Font*/

body {
    font-family: 'Lato', sans-serif;
}

#header {
    background-color: #990000;
    color: #fff;
    height: 100px;
}

#header .text-muted {
    color: indianred;
}


/*Fixing Nav items*/

.nav-pills > li > a {
    border-radius: 0;
    height: 100px;
    padding: 0 25px;
    font-size: 24px;
    line-height: 100px;
    color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #337ab7;
    border-radius: 0;
    height: 100px;
    padding: 0 25px;
    font-size: 24px;
    line-height: 100px;
}

.nav-pills > li.active > a:hover {
    color: #0a4366;
}

#services {
    background: #0a4366;
    padding-top: 90px;
    padding-bottom: 135px;
}

#services h2 {
    text-align: center;
    color: #0b91e5;
    border-bottom: 2px solid;
    display: table;
    margin: 0 auto 75px;
    font-size: 60px;
}

#services p {
    background: #0b91e5;
    height: 276px;
    width: 276px;
    border-radius: 50%;
    font-size: 175px;
    line-height: 276px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#services h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}

#services .item:hover {
    cursor: pointer;
}

#services .item:hover p i {
    color: #0a4366;
}

#services .item:hover h3 {
    color: #0b91e5;
}

#footer {
    background: #0b91e5;
    padding-top: 50px;
    color: #fff;
}

#footer .logo {
    margin-bottom: 20px;
}

#footer .logo+p {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

#footer h4 {
    font-size: 24px;
    margin: 15px 0;
    padding-bottom: 20px;
    color: #0a4366;
}

#footer-btm {
    background-color: #0a4366;
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

ul#quick-links,
ul#social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
}

ul#social-icon {
    overflow: hidden;
    margin-bottom: 15px;
}

ul#quick-links li>a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;
}

ul#quick-links li>a:hover {
    color: #0a4366;
}

#quick-links i {
    padding-right: 5px;
}

#social-icon li {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}

#social-icon li>a:link {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #0a4366;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #0a4366;
    color: #0b91e5;
    font-size: 18px;
}

#social-icon li>a:hover {
    background-color: #fff;
    border-color: #0a4366;
    color: #0a4366;
}

address {
    display: block;
}
